* {
    display: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    justify-content: center;
    margin: auto;
    
}
body {
    display: border-box;
    width: 90%;
    background-color: skyblue;
}
.box {
    background-color: rgb(81, 160, 115);
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 80%;
    height: 300px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;


}

h1, p, .question {
    text-align: center;
}

.choices {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    width: 70%;
}

#start {
    font-size: 1.5em;
}

.btn, #home {

    border-color: rgb(98, 2, 189);
    background-color: rgb(108, 2, 207);
    color: cornsilk;
    text-align: center;
    width: 90%;
    font-size: 1em;
    flex-direction: none;
    margin-bottom: 5px;
    justify-content: space-between;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    
}

#home:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.btn:hover {
    border-color: rgb(62, 32, 90);;
    cursor: pointer;
    transform: scale(1.05);
}

.quiz {
    display: none;
}

.hide {
    display: none;
}

.end {
    display: none;
}

.feedback {
    transition: opacity 0.6s;
    text-align: center;
}

.end {
    width: 90%;
    height: 90%;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    font-size: 1.3em;
}
#placeholder {
    margin-bottom: 5px;
    width: 20%
}
#submitBtn {
    width: 20%;
    font-size: 90%;
}

#highScores {
    width: 30%;
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: .8em;
    }
}


